html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 220%;
  font-weight: normal;
  text-align: center;
}
h3 {
  display: inline;
  font-size: 180%;
  padding-top: 2%;
  font-weight: normal;
  float: left;
}
h4 {
  display: inline;
  font-size: 180%;
  padding-top: 2%;
  font-weight: normal;
  float: right;
}
h5 {
  clear: both;
  font-size: 150%;
  padding-top: 2%;
  text-align: center;
}
p {
  clear: both;
  font-size: 150%;
  padding-top: 2%;
  text-align: center;
}
td {
  width: 150px;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  margin: 20px;
}
:root {
  --pink: #ffd0ec;
  --bg: #81689d;
  --dark: #1f2544;
}
ZZ body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.11fr 1fr 0.11fr 1fr 0.11fr 1fr 0.11fr 1fr 0.11fr 0.5fr;
  grid-template-areas:
    "navbar navbar navbar"
    "whoami . skills"
    ". projects ."
    "project1 project2 project3"
    ". expiriences ."
    "expirience1 expirience2 expirience3"
    ". blogs."
    "blog1 blog2 blog3"
    ". contactmes ."
    "contactme1 contactme2 contactme3";
  height: 100%;
  grid-gap: 2rem;
  grid-column-gap: 4rem;
  background-color: var(--pink);
  border-radius: 15px;
  padding: 2%;
}
#navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: var(--dark);
  grid-area: navbar;
  border-radius: 15px;
}
#navbar a {
  border: 1px solid var(--bg);
  border-radius: 15px;
  color: var(--pink);
  padding: 1.5%;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 1s;
}
#navbar a:hover {
  background-color: var(--pink);
  color: var(--dark);
  border-radius: 1px;
}

#whoami {
  grid-area: whoami;
  background-color: var(--bg);
  border-radius: 15px;
  padding-top: 3%;
  color: var(--dark);
  text-align: center;
}
#whoami img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top: 10%;
  border-radius: 15px;
}
#skills {
  padding-top: 3%;
  grid-area: skills;

  background-color: var(--bg);
  color: var(--dark);
  border-radius: 15px;
}
#projects {
  grid-area: projects;
  color: var(--dark);
}
#project1 {
  grid-area: project1;
  padding: 3%;
  border-radius: 15px;
  background-color: var(--bg);
  color: var(--dark);
}
#project1 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top: 10%;
  border-radius: 15px;
}
#project2 {
  grid-area: project2;
  padding: 3%;
  border-radius: 15px;
  background-color: var(--bg);
  color: var(--dark);
}
#project2 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top: 10%;
  border-radius: 15px;
}
#project3 {
  grid-area: project3;
  padding: 3%;
  border-radius: 15px;
  background-color: var(--bg);
  color: var(--dark);
}
#project3 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top: 10%;
  border-radius: 15px;
}

#expiriences {
  grid-area: expiriences;
  color: var(--dark);
}
#expirience1 {
  grid-area: expirience1;
  padding: 3%;
  border-radius: 15px;
  background-color: var(--bg);
  color: var(--dark);
}
#expirience2 {
  grid-area: expirience2;
  padding: 3%;
  border-radius: 15px;
  background-color: var(--bg);
  color: var(--dark);
}
#expirience3 {
  grid-area: expirience3;
  padding: 3%;
  border-radius: 15px;
  background-color: var(--bg);
  color: var(--dark);
}

#blogs {
  grid-area: blogs;
  color: var(--dark);
}
#blog1 {
  grid-area: blog1;
  padding: 3%;
  border-radius: 15px;
  background-color: var(--bg);
  color: var(--dark);
}
#blog1 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top: 10%;
  border-radius: 15px;
}
#blog2 {
  grid-area: blog2;
  padding: 3%;
  border-radius: 15px;
  background-color: var(--bg);
  color: var(--dark);
}
#blog2 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top: 10%;
  border-radius: 15px;
}
#blog3 {
  grid-area: blog3;
  padding: 3%;
  border-radius: 15px;
  background-color: var(--bg);
  color: var(--dark);
}
#blog3 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top: 10%;
  border-radius: 15px;
}
#contactmes {
  color: var(--dark);
  grid-area: contactmes;
}
#contactme1 {
  grid-area: contactme1;
}
#contactme1 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
  margin-top: 10%;
  border-radius: 15px;
}
#contactme2 {
  grid-area: contactme2;
}
#contactme2 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
  margin-top: 10%;
  border-radius: 15px;
}
#contactme3 {
  grid-area: contactme3;
}
#contactme3 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
  margin-top: 10%;
  border-radius: 15px;
}

@media only screen and (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.1fr 1fr 1fr 1fr 0.1fr 1fr 1fr 1fr 0.1fr 1fr 1fr 1fr 0.1fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      "navbar"
      "whoami"
      "skills"
      "projects"
      "project1"
      "project2"
      "project3"
      "expiriences"
      "expirience1"
      "expirience2"
      "expirience3"
      "blogs"
      "blog1"
      "blog2"
      "blog3"
      "contactmes"
      "contactme1"
      "contactme2"
      "contactme3";
  }
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--dark);
    grid-area: navbar;
    border-radius: 15px;
  }
}
