html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 220%;
  font-weight: normal;
  text-align: center;
}
:root {
  --pink: #ffd0ec;
  --dark: #1f2544;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.5fr 0.11fr 0.5fr;
  grid-template-areas:
    "navbar navbar navbar navbar"
    ". emc2 emc2 ."
    ". paper paper ."
    "paper1 paper2 paper3 paper4";
  height: 100%;
  grid-gap: 2rem;
  grid-column-gap: 2rem;
  border-radius: 15px;
  padding: 2%;
  background: linear-gradient(135deg, #1c8749, #2e8be3);
}
object {
  border-radius: 15px;
  height: 90vh;
  width: 100%;
}
.container2 {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.8fr 0.8fr 0.5fr 0.5fr;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas:
    " navbar . paper paper . ."
    "obj obj obj obj obj obj";
  height: 100vh;
  border-radius: 15px;
  padding: 2%;
  grid-gap: 1rem;
  background: linear-gradient(135deg, #1c8749, #2e8be3);
}
#obj {
  grid-area: obj;
  border-radius: 15px;
}
#navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  grid-area: navbar;
  border-radius: 15px;
  background: linear-gradient(270deg, #3d2a8b, #8e38e8);
}
#navbar a {
  border: 1px solid var(--bg);
  border-radius: 15px;
  color: var(--pink);
  padding: 1.5%;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 1s;
}
#navbar a:hover {
  background-color: var(--pink);
  color: var(--dark);
  border-radius: 1px;
}

#navbar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  width: 30%;
}
#emc2 {
  grid-area: emc2;
  background-color: var(--bg);
  border-radius: 15px;
  padding-top: 3%;
  color: var(--dark);
  text-align: center;
  background: linear-gradient(to right, #cc2b5e, #753a88);
}
#emc2 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  margin-top: 3%;
  border-radius: 15px;
}

#paper {
  grid-area: paper;
  color: var(--pink);
  border-radius: 15px;
  font-size: 100%;
  background: linear-gradient(270deg, #3d2a8b, #8e38e8);
}
#paper1 {
  grid-area: paper1;
  padding: 3%;
  border-radius: 15px;
  color: var(--dark);
  background: linear-gradient(to right, #cc2b5e, #753a88);
}

#paper1 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top: 10%;
  border-radius: 15px;
}
#paper1 img:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

#paper2 {
  grid-area: paper2;
  padding: 3%;
  border-radius: 15px;
  color: var(--dark);
  background: linear-gradient(to right, #cc2b5e, #753a88);
}
#paper2 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top: 10%;
  border-radius: 15px;
}
#paper2 img:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}
#paper3 {
  grid-area: paper3;
  padding: 3%;
  border-radius: 15px;
  color: var(--dark);
  background: linear-gradient(to right, #cc2b5e, #753a88);
}
#paper3 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top: 10%;
  border-radius: 15px;
}
#paper3 img:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

#paper4 {
  grid-area: paper4;
  padding: 3%;
  border-radius: 15px;
  color: var(--dark);
  background: linear-gradient(to right, #cc2b5e, #753a88);
}
#paper4 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  margin-top: 10%;
  border-radius: 15px;
}
#paper4 img:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

@media only screen and (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 0.1fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      "navbar"
      "emc2"
      "paper"
      "paper1"
      "paper2"
      "paper3"
      "paper4";
  }

  .container2 {
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-areas:
      "navbar paper"
      "obj obj"
      ". .";
  }
  .container2 #obj {
    margin-left: auto;
    margin-right: auto;
  }
  object {
    width: 100%;
    height: 100%;
  }
  .container2 #paper {
    font-size: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .container2 #navbar img {
    padding-top: 20%;
  }
  .container #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    grid-area: navbar;
    border-radius: 15px;
    background: linear-gradient(135deg, #1c8749, #2e8be3);
  }
}
